<div class="container">
  <div class="row">&nbsp;</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Instructions</h3>
      <ul>
        <li>Write a message to everyone in the gift Exchange</li>
        <li>Send it and get this party started</li>
      </ul>
    </div>
    <div class="col-sm-8">
      <form>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </form>
      <p><a class="btn btn-primary btn-lg" routerLink="/finalize" role="button">Send Invites &raquo;</a></p>
    </div>
  </div>
</div>