<div class="container">
  <div class="row">&nbsp;</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Instructions</h3>
      <ul>
        <li>Write a message to everyone in the gift Exchange</li>
        <li>Send it and get this party started</li>
      </ul>
    </div>
    <div class="col-sm-8">
      <form [formGroup]="step4Form" novalidate (ngSubmit)="submitData()">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" formControlName="welcomeMessage"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <button type="button" class="btn btn-secondary ml-2" (click)="back()">back</button>
      </form>
    </div>
  </div>
</div>