<div class="row mb-5">
  <div class="col text-center">
    <h3>{{ (exchange | async)?.name }}</h3>
  </div>
</div>
<div class="row mt-3">
  <div class="col-sm-8">
    <h4>Welcome {{ currentUser?.name| titlecase }} <small *ngIf="isAdmin">  (Admin) </small></h4>
    <ul *ngIf="participant">
      <li *ngIf="currentUser && participant">
        <a [routerLink]="['/exchange', exchangeId, (currentUser)?.id, 'wishlist', 'edit']">
          {{ !currentUser?.wishlistCreated ? "Create your wishlist" : "Update your wish list" }}
        </a>
      </li>
      <li>
        <a (click)="updateUsersEmail()">Change your email address</a>
      </li>
    </ul>
    <h4 class="text-success">You drew {{currentUser?.nameDrawn | titlecase}}'s name!</h4>
    <ul *ngIf="participant">
      <li *ngIf="currentUser && participant"><a [routerLink]="['/exchange', exchangeId, (currentUser)?.id, 'wishlist', 'drawn']">View
          {{currentUser?.nameDrawn | titlecase}}'s wishlist</a></li>
    </ul>
  </div>
  <div class="col-sm-4">
    <h5>Gift Excahnge Settings</h5>
    <ul>
      <li>Max Gift Value: ${{ (exchange | async)?.budget }}</li>
      <li>Date of Gift Exchange: {{ (exchange | async)?.date.month }}/{{ (exchange | async)?.date.day }}/{{ (exchange |
        async)?.date.year }}</li>
      <li *ngIf="isAdmin && includeAdmin">I'm Included: Yes</li>
      <li>Admin Sees Names: {{ showAdminNames }}</li>
      <!-- <li># of Names Per Person: {{ (exchange | async)?.nameCount }}</li> -->
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3>People</h3>
    <div class="container">
      <div class="mt-2 mb-2 pt-2 pb-2 border-bottom" *ngFor="let ex of (people | async) ; let i of index;">
        <div class="row">
          <div class="col-sm-4">
            <h4><span (click)="loadExchangeAs(ex.id)">{{ex.name | titlecase}}</span></h4>
          </div>
          <div class="col col-sm-4">
            <span *ngIf="isAdmin && showAdminNames == 'Yes'">Name drawn: {{ex.nameDrawn | titlecase}}</span>
          </div>
          <div class="col-sm-4" *ngIf="isAdmin">
            Their Wishlist:&nbsp;
            <span class='text-success' *ngIf="ex.wishlistCreated">Wishlist Set</span>
            <span class='text-danger' *ngIf="!ex.wishlistCreated"><strong>Wishlist Not Set</strong></span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">{{ ex.email }} <small *ngIf="isAdmin">(<a (click)="updateUsersEmail(ex.id)">edit</a>)</small></div>
          <div class="col-sm-4 offset-md-4" *ngIf="isAdmin">
            Viewed Their Name's Wishlist:&nbsp;
            <span *ngIf="ex.viewedDrawnWishlist" class='text-success'>Yes</span>
            <span *ngIf="!ex.viewedDrawnWishlist" class='text-danger'><strong>No</strong></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="container">
      <div id="amzn-assoc-ad-91c06d19-1511-43c7-aea1-381f6abc1c67"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=91c06d19-1511-43c7-aea1-381f6abc1c67"></script>
    </div>
  </div>
</div>
