<div class="row">
  <div class="col-sm-12">
    <h1>{{ (exchange | async)?.name }}</h1>
    <!-- <p *ngIf="currentUser">Welcome {{ currentUser?.name.capitalize() }}</p> -->
  </div>
</div>
<div class="row mt-3">
  <div class="col-sm-6">
    <h3>{{ currentUser?.name.capitalize() }}<span *ngIf="isAdmin"> (Admin) </span></h3>
    <ul *ngIf="participant">
      <li *ngIf="currentUser">
        <a [routerLink]="['/exchange', exchangeId, (currentUser)?.uid, 'wishlist', 'edit']">
          {{ !currentUser?.wishlistCreated ? "Create your wishlist" : "Update your wish list" }}
        </a>
      </li>
      <li *ngIf="currentUser"><a [routerLink]="['/exchange', exchangeId, (currentUser)?.uid, 'wishlist', 'drawn']">View
          {{currentUser?.nameDrawn}}'s wishlist</a></li>
    </ul>
  </div>
  <div class="col-sm-6">
    <h3>Settings</h3>
    <ul>
      <li>Budget: ${{ (exchange | async)?.budget }}</li>
      <li>Date: {{ (exchange | async)?.date.month }}/{{ (exchange | async)?.date.day }}/{{ (exchange |
        async)?.date.year }}</li>
      <li *ngIf="isAdmin && includeAdmin">I'm Inclucded: Yes</li>
      <li>Admin Sees Names: {{ showAdminNames }}</li>
      <!-- <li># of Names Per Person: {{ (exchange | async)?.nameCount }}</li> -->
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3>People</h3>
    <div class="container">
      <div class="mt-2 mb-2 pt-2 pb-2 border-bottom" *ngFor="let ex of (people | async) ; let i of index;">
        <div class="row">
          <div class="col-sm-4">
            <h4><a (click)="loadExchangeAs(ex.uid)">{{ex.name}}</a></h4>
          </div>
          <div class="col col-sm-4">
            <span *ngIf="isAdmin && showAdminNames">Name drawn: {{ex.nameDrawn}}</span>
          </div>
          <div class="col-sm-4" *ngIf="isAdmin">
            Their Wishlist:&nbsp;
            <span class='text-success' *ngIf="ex.wishlistCreated">Wishlist Set</span>
            <span class='text-danger' *ngIf="!ex.wishlistCreated"><strong>Wishlist Not Set</strong></span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">{{ ex.email }} <small *ngIf="isAdmin">(<a [routerLink]="['/exchange', exchangeId, (currentUser)?.uid,'update-email', ex.uid]">edit</a>)</small></div>
          <div class="col-sm-4 offset-md-4" *ngIf="isAdmin">
            Viewed Their Name's Wishlist:&nbsp;
            <span *ngIf="ex.viewedDrawnWishlist" class='text-success'>Yes</span>
            <span *ngIf="!ex.viewedDrawnWishlist" class='text-danger'><strong>No</strong></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>