<div class="container">
  <div class="row">&nbsp;</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h3>Add Names</h3>
      <ul>
        <li>Your Info</li>
        <li>Add Names</li>
      </ul>
    </div>
    <div class="col-lg-8">
      {{ step2Form.value | json}}
      <form [formGroup]="step2Form">
        <h3>Your Info</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Your Name" formControlName="adminName">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Your Email Address" formControlName="adminEmail">
        </div>
        <h3>Add Names</h3>
        <div class="addNamesSection">

          <div class="form-row align-items-center" formGroupName="exchangee">
            <div class="col-6">
              <label class="sr-only" for="ExchangeeName1">Name</label>
              <input type="text" class="form-control mb-2" placeholder="Exchangee's Name" formControlName="exchangeeName">
            </div>
            <div class="col-6">
              <input type="email" class="form-control mb-2" placeholder="Email" formControlName="exchangeeEmail">
            </div>
          </div>

        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
