<div class="container">
  <div class="row">&nbsp;</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h3>Add Names</h3>
      <ul>
        <li>Your Info</li>
        <li>Add Names</li>
      </ul>
    </div>
    <div class="col-lg-8">
      {{ step2Form.value | json}}
      <hr>
      {{ formData | json}}
      <form [formGroup]="step2Form" novalidate (ngSubmit)="submitData()">
        <h3>Your Info</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Your Name" formControlName="adminName">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Your Email Address" formControlName="adminEmail">
        </div>
        <h3>Add Names</h3>
        <div class="addNamesSection">
          <div formArrayName="exchangees" *ngFor="let exchangee of step2Form.get('exchangees').controls; let i = index;">
            <div class="form-row align-items-center" [formGroupName]="i">
            <div class="col-6">
              <label class="sr-only" for="ExchangeeName1">Name</label>
              <input type="text" class="form-control mb-2" placeholder="Exchangee's Name" formControlName="name">
            </div>
            <div class="col-6">
              <input type="email" class="form-control mb-2" placeholder="Email" formControlName="email">
            </div>
            </div>
          </div> 
          <div class="form-group">
          <button type="button" class="btn-secondary btn-sm m-s" (click)="addNames()">Add Names</button>
            </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Submit</button>
          <button type="button" class="btn btn-secondary ml-2" (click)="back()">back</button>
        </div>
      </form>
    </div>
  </div>
</div>
