<div class="row">
    <div class="col-sm-12">Wishlist for {{ currentUser?.name }}</div>
</div>
<div class="row">
    <div class="col-sm-12">
        <ul>
            <li *ngFor="let item of (wishlist|async)">{{ item?.name }} --- {{ item?.url }}</li>
        </ul>

        <form [formGroup]="wishlistForm" novalidate (ngSubmit)="submitData()">

            <div formArrayName="items" *ngFor="let item of items.controls; let i = index; last as isLast" class="form-row mb-4">
                <div class="col-sm-11">
                    <input type="text" class="form-control" [formControlName]="i" name="item" placeholder="Enter your gift ideas here">
                </div>
                <div class="col-sm-1">
                    <button type="button" [class.d-none]="item.pristine && item.value == '' && isLast" class="close m-1" aria-label="Close btn-danger" (click)="remove(i)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                <button type="button" class="btn-secondary btn-sm ml-2" (click)="addItem()">Add another Gift Idea</button>
            </div>
        </form>
    </div>
</div>