<div class="container">
  <div class="row">&nbsp;</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-primary" (click)="testWishlist()">Test Wishlist</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h3>Exchanges</h3>
      <ul>
        <li class="text" *ngFor="let exchange of exchanges | async">
          <a [routerLink]="['/admin', exchange.id]">
            {{exchange.name}}
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-6">
      <h3>Users</h3>
      <ul>
        <li class="text" *ngFor="let user of users | async">
          <a (click)="getUser(user.email)">{{user.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>