<div class="row pb-4">
    <div class="col col-lg-5">
        <h2>Wishlist for {{ currentUser?.name }}</h2>
        <p>
            <a [class.disabled]="isDirty" [routerLink]="['/exchange', exchangeId, currentUserUid]">&laquo; Go back to exchange.  </a><span *ngIf="savedMsg" class="text-success font-weight-bold">{{ savedMsg }}</span>
        </p>
    </div>
</div>
<!-- <div class="row">
    <div class="col-sm-6">
        <ul>
            <li *ngFor="let item of (wishlist|async)">{{ item?.name }} --- {{ item?.uid }}</li>
        </ul>
    </div>
    <div class="col-sm-6">
        <ul>
            <li *ngFor="let item of wishlistForm.get('items').value">{{ item.name }} --- {{ item.uid }}</li>
        </ul>
    </div>
</div> -->
<div class="row">
    <div class="col-sm-8">
        <form [formGroup]="wishlistForm" novalidate (ngSubmit)="submitData()">
            <div formArrayName="items" *ngFor="let item of wishlistForm.get('items')['controls']; let i = index; last as isLast;"
                class="mb-3 pb-3 border-bottom">
                <div class="" [formGroupName]="i">
                    <div class="row pb-1">
                        <label for="itemName" class="col-sm-2 col-form-label">Wishlist Item</label>
                        <div class="col-sm-10 btn-group">
                            <input type="text" class="form-control" name="itemName" formControlName="itemName"
                                placeholder="Enter your gift ideas here">
                            <button type="button" [class.d-none]="wishlistForm.get('items').controls[i].get('itemName').pristine && wishlistForm.get('items').controls[i].get('itemName').value == '' && isLast"
                                class="close mx-1" aria-label="Close" (click)="remove(i)">
                                <span class="text-primary" aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <label for="itemUrl" class="col-sm-2 col-form-label">Item Link</label>
                        <div class="col-sm-10">
                            <input [class.is-invalid]="wishlistForm.get('items').controls[i].get('itemUrl').invalid" class="form-control" type="text" formControlName="itemUrl" name="itemUrl" placeholder="Optionally add a link to the item">
                            <small class="text-warning" *ngIf="wishlistForm.get('items').controls[i].get('itemUrl').invalid">*url is not in correct format. </small> 
                            <!-- && wishlistForm.get('items').controls[i].get('itemUrl').value.length > 0 -->
                        </div>
                    </div>
                    <input class="form-control" type="hidden" formControlName="itemUid">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-sm" [disabled]="wishlistForm.invalid">Save Wishlist</button>
                <!-- <button type="button" class="btn-secondary btn-sm ml-2" (click)="addItem()">Add another Gift Idea</button> -->
            </div>
        </form>
    </div>
    <div class="col-sm-4">
        <h3>Tips</h3>
        <ul>
            <li>Add a item name or descripti0n in the Wishlist Item field.</li>
            <li>Add a link to the item on Amazon or another site so your secret Santa knows exactly what you want.</li>
            <li>You can even add a link to your Amazon wishlist.</li>
        </ul>
    </div>
</div>
<div class="row">
    
</div>