<div class="row">
    <div class="col-sm-12">
        <h2>{{(currentUser)?.nameDrawn.capitalize()}}'s Wishlist</h2>
        <p>
            <a [class.disabled]="isDirty" [routerLink]="['/exchange', exchangeId, currentUserUid]">&laquo; Go back to exchange.</a>
        </p>
    </div>
</div>
<div class="row">
  <div class="col-lg-7 pl-4 pr-4">
      <div *ngFor="let item of (wishlist|async)" class="row border-bottom pt-1 pb-2 mb-2 mt-1">
        <div class="col-sm-6">
          {{ item.itemName.capitalize() }}
        </div>
        <div class="col-sm-6 text-right">
          <button class="btn btn-primary" *ngIf="item.itemUrl" (click)="openItemUrl(item)">Open {{(currentUser)?.nameDrawn.capitalize()}}'s Link</button>
          <button class="btn btn-primary" *ngIf="!item.itemUrl" (click)="openItemUrl(item)">Search Amazon</button>
        </div>
      </div>
  </div>
  <div class="col-lg-5">
    
  </div>
</div>