<div class="row">
    <div class="col-sm-12">
        <h2>{{(currentUser)?.nameDrawn | titlecase}}'s Wishlist</h2>
        <p>
            <a [routerLink]="['/exchange', exchangeId, currentUserUid]">&laquo; Go back to exchange.</a>
        </p>
    </div>
</div>
<div class="row">
  <div class="col-lg-12 pl-4 pr-4">
      <div *ngFor="let item of (wishlist|async)" class="row border-bottom pt-1 pb-2 mb-2 mt-1">
        <div class="col-sm-6">
          {{ item.itemName | titlecase }}
        </div>
        <div class="col-sm-6 text-right">
          <button class="btn btn-primary" *ngIf="item.itemUrl" (click)="openItemUrl(item)">Open {{(currentUser)?.nameDrawn}}'s Link</button>
          <button class="btn btn-primary" *ngIf="!item.itemUrl" (click)="openItemUrl(item)">Search Amazon</button>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="container">
      <div id="amzn-assoc-ad-91c06d19-1511-43c7-aea1-381f6abc1c67"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=91c06d19-1511-43c7-aea1-381f6abc1c67"></script>
    </div>
  </div>
</div>