<div class="container">
  <div class="row">&nbsp;</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Instructions</h3>
      <ul>
        <li>Find a person to exclude who they can draw</li>
        <li>Select the name they should not draw</li>
      </ul>
    </div>

    <div class="col-sm-8">
      <form [formGroup]="step3Form" novalidate (ngSubmit)="submitData()">
        <div class="container">
          <div class="row">
            <div class="col-sm-6" formArrayName="exchangees" *ngFor="let exchangee of formData.exchangees; let i = index">
              <h5>{{ exchangee.name }}</h5>
              <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1" formControlName="exclude" [formControlName]='i'>
                  <option value="" default>none</option>
                  <!-- TODO: remove their own name from exclude list via pipe filter -->
                  <option *ngFor="let ex of formData.exchangees; let l = index" [value]="ex.name">{{ ex.name }}</option>
                </select>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
          <button type="button" class="btn btn-secondary ml-2" (click)="back()">back</button>
        </div>
      </form>
    </div>
  </div>
</div>