<div class="container">
  <div class="row">&nbsp;</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Instructions</h3>
      <ul>
        <li>Find a person to exclude who they can draw</li>
        <li>Select the name they should not draw</li>
      </ul>
    </div>
    <div class="col-sm-8">
      <form>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h5>John Doe</h5>
              <div class="form-group">
              	<select class="form-control" id="exampleFormControlSelect1">
                  <option value="" default>none</option>
                  <option>Jane Doe</option>
                  <option>Mom Doe</option>
                  <option>Dad Doe</option>
                  <option>Brother Doe</option>
                  <option>Sister Doe</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <h5>John Doe</h5>
              <div class="form-group">
              	<select class="form-control" id="exampleFormControlSelect1">
                  <option value="" default>none</option>
                  <option>Jane Doe</option>
                  <option>Mom Doe</option>
                  <option>Dad Doe</option>
                  <option>Brother Doe</option>
                  <option>Sister Doe</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <h5>John Doe</h5>
              <div class="form-group">
              	<select class="form-control" id="exampleFormControlSelect1">
                  <option value="" default>none</option>
                  <option>Jane Doe</option>
                  <option>Mom Doe</option>
                  <option>Dad Doe</option>
                  <option>Brother Doe</option>
                  <option>Sister Doe</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h5>John Doe</h5>
              <div class="form-group">
              	<select class="form-control" id="exampleFormControlSelect1">
                  <option value="" default>none</option>
                  <option>Jane Doe</option>
                  <option>Mom Doe</option>
                  <option>Dad Doe</option>
                  <option>Brother Doe</option>
                  <option>Sister Doe</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <h5>John Doe</h5>
              <div class="form-group">
              	<select class="form-control" id="exampleFormControlSelect1">
                  <option value="" default>none</option>
                  <option>Jane Doe</option>
                  <option>Mom Doe</option>
                  <option>Dad Doe</option>
                  <option>Brother Doe</option>
                  <option>Sister Doe</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <h5>John Doe</h5>
              <div class="form-group">
              	<select class="form-control" id="exampleFormControlSelect1">
                  <option value="" default>none</option>
                  <option>Jane Doe</option>
                  <option>Mom Doe</option>
                  <option>Dad Doe</option>
                  <option>Brother Doe</option>
                  <option>Sister Doe</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h5>John Doe</h5>
              <div class="form-group">
              	<select class="form-control" id="exampleFormControlSelect1">
                  <option value="" default>none</option>
                  <option>Jane Doe</option>
                  <option>Mom Doe</option>
                  <option>Dad Doe</option>
                  <option>Brother Doe</option>
                  <option>Sister Doe</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <h5>John Doe</h5>
              <div class="form-group">
              	<select class="form-control" id="exampleFormControlSelect1">
                  <option value="" default>none</option>
                  <option>Jane Doe</option>
                  <option>Mom Doe</option>
                  <option>Dad Doe</option>
                  <option>Brother Doe</option>
                  <option>Sister Doe</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <h5>John Doe</h5>
              <div class="form-group">
              	<select class="form-control" id="exampleFormControlSelect1">
                  <option value="" default>none</option>
                  <option>Jane Doe</option>
                  <option>Mom Doe</option>
                  <option>Dad Doe</option>
                  <option>Brother Doe</option>
                  <option>Sister Doe</option>
                </select>
              </div>
            </div>
          </div>
          <p><a class="btn btn-primary btn-lg" routerLink="/step4" role="button">Next Step &raquo;</a></p>
          <button type="button" class="btn btn-secondary ml-2" (click)="back()">back</button>
        </div>
      </form>
    </div>
  </div>
</div>
