<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a
            jumbotron and three supporting pieces of content. Use it as a starting point to create something more
            unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h3>Start a Gift Exchange</h3>
            <ul class="list">
                <li>Start with your name and email address</li>
                <li>Next, set some rules</li>
                <li>Then, add people</li>
                <li>Finally, let everyone know its time to get in the holiday spirit.</li>
            </ul>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary" (click)="start()">Get Started &raquo;</button>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <hr>
</div> <!-- /container -->