<!-- Example row of columns -->
<div id="home" class="container">
  <div class="row justify-content-center mt-3">
    <div class="col text-center">
      <p>
        The Great Gift Exchange based in the USA, and will never give away your
        info!
      </p>
    </div>
  </div>
  <div class="row align-items-center my-5">
    <div class="col-12 col-xl-5 offset-xl-1 col-lg-5 offset-lg-0 col-md-7 mt-3">
      <h2 class="pr-xl-7 mr-xl-7">Create a gift exchange and draw names!</h2>
      <p>
        The Great Exchange makes it easy to setup your secret santa gift
        exchange.
      </p>
      <ul>
        <li>Names are drawn randomly</li>
        <li>No one gets their own name</li>
        <li>You can exclude people from drawing certian people</li>
        <li>We’ll email everyone for you so everything stays a secret</li>
        <li>It's free!</li>
      </ul>
      <button class="btn btn-md btn-primary mt-4" (click)="startSetup()">
        Create Your Exchange Now &raquo;
      </button>
    </div>
    <div class="col-12 col-xl-5 offset-xl-0 col-lg-6 offset-lg-1 col-md-5 pl-lg-8 px-sm-5 my-5 align-self-center text-right">
      <img src="../assets/images/teal_giftbox.svg" class="img-fluid" style="max-width:350px;" />
    </div>
  </div>
  <div class="row mt-5 pt-4 justify-content-center">
    <div class="col-5 text-center mt-3 pt-5 border-top">
      <h3>Already apart of an exchange?</h3>
      <p>
        Check your email for a link to login to your exchange.<br />
        <a [routerLink]="['/sendLoginEmail']">Or, click here to send a new email!</a>
      </p>
    </div>
  </div>
</div>