





<div id="header" class="container-fluid py-4 mt-4">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col text-center">
        <a [routerLink]="['/']"><img id="logo" src="../assets/images/logo_outlines.svg" class="img-fluid"></a>
    </div>
    <div class="col-sm-2 text-right">
    </div>
  </div>
</div>



<!-- admin nav bar  -->
<!-- <nav class="navbar navbar-expand-md navbar-dark static-top bg-dark">
  <a class="navbar-brand" href="#">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/setup/step1" routerLinkActive="active">Step 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/setup/step2" routerLinkActive="active">Step 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/setup/step3" routerLinkActive="active">Step 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/setup/step4" routerLinkActive="active">Step 4</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/setup/finalize" routerLinkActive="active">finalize</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/list-all" routerLinkActive="active">list-all</a>
      </li>
    </ul>
  </div>
</nav> -->