<div class="container">
  <div class="row">&nbsp;</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Instructions</h3>
      <ul>
        <li>Give your exchange a name</li>
        <li>Set a date for your exchange</li>
        <li>Set a max dollar amount people should spend</li>
        <li>Throw your own name in the hat?</li>
        <li>Do you want to see who drew who's name?</li>
      </ul>
    </div>
    <div class="col-sm-8">
      <form #setup1form="ngForm" novalidate (ngSubmit)="submitData()">
        <div class="form-group">
          <h4><label for="exchangeName">Name Your Gift Exchange</label></h4>
          <input required minlength="4" [class.is-invalid]="name.invalid && name.dirty" #name='ngModel' type="text" class="form-control form-control-lg" id="exchangeName" name="exchangeName" placeholder="Exchange Name" [(ngModel)]="formData.name">
          <small class="text-warning" *ngIf="name.invalid && name.dirty">*Exchange Must have a name greater than 3 characters</small>
        </div>
        <h4 for="datePicker">Date of Exchange</h4>
        <div class="form-inline form-group">
          <!-- <ngb-datepicker #d></ngb-datepicker> -->
          <input required placeholder="year-m-d" type="text" #date='ngModel' class="form-control" ngbDatepicker #d="ngbDatepicker" name="datePicker" [(ngModel)]="formData.date" /><button class="btn btn-secondary btn-sm mx-2" (click)="d.toggle()" novalidate type="button">Date Picker</button>
          <div class="clearfix"></div>
          
        </div>
        <div class="form-group">
          <h4><label for="exchangeBudget">Max Budget Per Gift?</label></h4>
          <input #budget='ngModel' type="text" pattern="^[$]?[0-9,]+(\.[0-9]{1,2})?$" [class.is-invalid]="budget.invalid && budget.dirty" class="form-control form-control-lg" id="exchangeBudget" name="exchangeBudget" placeholder="Example $20" [(ngModel)]="formData.budget">
          <small class="col-12 mt-2 pl-0 text-warning d-block" *ngIf="budget.invalid && budget.dirty">*Please use only numbers, $'s, commans and periods</small>
        </div>
        <!-- <h4>Each person draws # names?</h4>
        <div class="form-check form-check-inline">
          <input class="form-check-input form-control-lg" type="radio" name="nameCountRadio" id="draw1Name" value="1" [(ngModel)]="formData.nameCount">
          <label class="form-check-label" for="1">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input form-control-lg" type="radio" name="nameCountRadio" id="draw2Name" value="2" [(ngModel)]="formData.nameCount">
          <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input form-control-lg" type="radio" name="nameCountRadio" id="draw0Name" value="0" [(ngModel)]="formData.nameCount">
          <label class="form-check-label" for="inlineRadio3">Do not draw names</label>
        </div> -->
        <h4>Options</h4>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input form-control-lg" id="includeAdmin" name="includeAdmin" [(ngModel)]="formData.includeAdmin">
          <label class="form-check-label" for="includeAdmin">Include My Name in Drawing</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input form-control-lg" id="showAdminNames" name="showAdminNames" [(ngModel)]="formData.showAdminNames">
          <label class="form-check-label" for="showAdminNames">Show me who drew who</label>
        </div>
        <div class="form-group">
          <button [disabled]="setup1form.form.invalid" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
