<div class="container">
  <div class="row">&nbsp;</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Instructions</h3>
      <ul>
        <li>Exchange name</li>
        <li>Exchange Date</li>
        <li>Are you included in the gift exchange?</li>
        <li>Is it secret?</li>
        <li>How many names per person?</li>
        <li>Budget?</li>
      </ul>
    </div>
    <div class="col-sm-8">
      <form>
        <div class="form-group">
          <h4><label for="exhangeName">Name Your Gift Exchange</label></h4>
          <input type="text" class="form-control form-control-lg" id="exhangeName" placeholder="Family Gift Exchange">
        </div>
        <div class="form-group">
          <h4>Date of Exchange</h4>
          <ngb-datepicker #d></ngb-datepicker>
        </div>
         <div class="form-group">
          <h4><label for="exhangeName">Budget Max Per Gift?</label></h4>
          <input type="text" class="form-control form-control-lg" id="exhangeName" placeholder="$20">
        </div>
        <h4>Each person draws # names?</h4>
        <div class="form-check form-check-inline">
          <input class="form-check-input form-control-lg" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input form-control-lg" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input form-control-lg" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">Do not draw names</label>
        </div>
        <h4>Options</h4>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input form-control-lg" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Include My Name in Drawing</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input form-control-lg" id="exampleCheck2">
          <label class="form-check-label" for="exampleCheck2">Show me who drew who</label>
        </div>
      </form>
      <p><a class="btn btn-primary btn-lg" routerLink="/step2" role="button">Add Names &raquo;</a></p>
    </div>
  </div>
</div>
