<div class="row">
  <div class="col col-lg-12 justify-content-md-center">
    <h1>Update {{ (userToUpdate)?.name }}'s Email Address</h1>
    <p><a [routerLink]="['/exchange', exchangeId, curentUserId]">&laquo; Go back to
        exchange. </a></p>
    <p *ngIf="savedMsg" [class.text-success]="savedMsgPass" [class.text-warning]="!savedMsgPass" class="font-weight-bold">
      {{ savedMsg }}
    </p>
    <h5>Current Email Adddress: {{ (userToUpdate)?.email }}</h5>
    <p>Just enter the new email address below and click save.</p>
  </div>
</div>
<div class="row">
  <div class="col col-lg-8 justify-content-md-center">
    <form class="col-6" [formGroup]="emailForm" novalidate (ngSubmit)="submitData()">
      <div class="form-group">
        <input type="email" [class.is-invalid]="emailForm.get('email').invalid && emailForm.get('email').touched" class="form-control"
          placeholder="Your Email Address" formControlName="email">
        <small class="text-warning" *ngIf="emailForm.get('email').invalid && emailForm.get('email').touched">*required
          and must be formatted correctly</small>
      </div>
      <button type="submit" [disabled]="emailForm.invalid && emailForm.touched" class="btn btn-success">Save New Email
        Address</button>
    </form>
  </div>
</div>