<div class="container">
  <div class="row">&nbsp;</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h3>Add people to the gift exchange</h3>
      <ul>
        <li>Start with yourself, even if you are not in the exchange</li>
        <li>Add name and email address for everyone else. Use your own email for people who can't get email (you'll receive their link)</li>
      </ul>
    </div>
    <div class="col-lg-8">
      <form [formGroup]="step2Form" novalidate (ngSubmit)="submitData()">
        <h3>Your Info</h3>
        <div class="form-group has-feedback has-clear">
          <input type="text" [class.is-invalid]="step2Form.get('adminName').invalid && step2Form.get('adminName').touched" class="form-control" placeholder="Your Name" formControlName="adminName">
          <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback hidden"></span>
          <small class="text-warning" *ngIf="step2Form.get('adminName').invalid && step2Form.get('adminName').touched">*required</small>
        </div>
        <div class="form-group">
          <input type="email" [class.is-invalid]="step2Form.get('adminEmail').invalid && step2Form.get('adminEmail').touched" class="form-control" placeholder="Your Email Address" formControlName="adminEmail">
          <small class="text-warning" *ngIf="step2Form.get('adminEmail').invalid && step2Form.get('adminEmail').touched">*required and must be formatted correctly</small>
        </div>
        <h3>Add Names</h3>
        <div class="addNamesSection">

          <div formArrayName="exchangees" *ngFor="let exchangee of step2Form.get('exchangees').controls; let i = index;">
          
            <div class="form-row align-items-top" [formGroupName]="i">
              <div class="col-6">
                <input [class.is-invalid]="getExchangees().controls[i].get('name').invalid && getExchangees().controls[i].get('name').touched" name="name" type="text" class="form-control mb-2" placeholder="Exchangee's Name" formControlName="name">
                <small *ngIf="getExchangees().controls[i].get('name').invalid && getExchangees().controls[i].get('name').touched" class="text-warning">*required</small>
              </div>
              <div class="col-6">
                <input type="email" [class.is-invalid]="getExchangees().controls[i].get('email').invalid && getExchangees().controls[i].get('email').touched" class="form-control mb-2" placeholder="Email" formControlName="email">
                <small *ngIf="getExchangees().controls[i].get('email').invalid && getExchangees().controls[i].get('email').touched" class="text-warning">*required and must be formatted correctly</small>
              </div>
              {{ (getExchangees().controls[i].get('email').Validators) | json }}
            </div>
          </div>
          
          <button type="button" class="btn-secondary btn-sm my-3" (click)="addNames()">Add Names</button>
          
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-secondary" (click)="back()">Back</button>
          <button type="submit" [disabled]="step2Form.invalid" class="btn btn-success  ml-2">Next</button>
        </div>
      </form>
    </div>
  </div>
</div>